@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100;400;500;700&display=swap");

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  appearance: none;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", "sans-serif";
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  grid-template-columns: 14rem auto 23rem;
  gap: 1.8rem;
}
a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}
.mb-8 {
  margin-bottom: 0.8rem;
}
aside {
  height: 100vh;
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
aside .logo img {
  width: 2.6rem;
  height: 2.6rem;
}
aside .close {
  display: none;
}

aside .sidebar {
  height: 86vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  height: 3.7rem;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  color: var(--color-info-dark);
  transition: var(--transition);
}
aside .sidebar a span {
  font-size: 1.6rem;
  transition: var(--transition);
}
aside .sidebar a:last-child {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}
aside .sidebar a.active {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}
aside .sidebar a:hover .material-icons {
  margin-left: 1rem;
}
aside .sidebar .message-count {
  background-color: var(--color-danger);
  font-size: 11px;
  padding: 2px 10px;
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

main {
  margin-top: 1.4rem;
}
main .date {
  display: inline-block;
  background-color: var(--color-light);
  padding: 0.4rem 1.4rem;
  margin-top: 1rem;
  border-radius: var(--border-radius-1);
}
main .date input[type="date"] {
  background-color: transparent;
  color: var(--color-dark);
}
main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
main .insights > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
main .insights > div:hover {
  box-shadow: none;
}
main .insights > div span {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
main .insights > div.expenses span {
  background-color: var(--color-danger);
}
main .insights > div.income span {
  background-color: var(--color-success);
}
main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .insights h3 {
  font-size: 1rem;
  margin: 1rem 0 0 0.6rem;
}
main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
main .insights svg {
  width: 7rem;
  height: 7rem;
}
main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
main .insights .sales svg circle {
  stroke-dasharray: 200;
  stroke-dashoffset: -30;
}
main .insights .expenses svg circle {
  stroke-dasharray: 80;
  stroke-dashoffset: 20;
}
main .insights .income svg circle {
  stroke-dasharray: 110;
  stroke-dashoffset: 35;
}
main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .insights small {
  margin-top: 1.3rem;
  display: block;
}

main .recent-orders {
  margin-top: 2rem;
}
main .recent-orders table {
  background-color: var(--color-white);
  width: 100%;
  padding: 1rem var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: var(--transition);
}
main .recent-orders table:hover {
  box-shadow: none;
}
main table thead {
  height: 3rem;
}
main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
  border-bottom: none;
}
main .recent-orders a {
  display: block;
  text-align: center;
  margin: 1rem auto;
  color: var(--color-primary);
}

.right {
  margin-top: 1.4rem;
}
.right .top #menu-btn {
  display: none;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.right .theme-toggle {
  height: 1.6rem;
  width: 4.2rem;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}
.right .theme-toggle span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.right .theme-toggle span.active {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-1);
  color: var(--color-white);
}
.right .top .profile {
  display: flex;
  text-align: right;
  gap: 2rem;
}
.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates .updates {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics .item {
  background-color: var(--color-white);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  margin-bottom: 0.7rem;
}
.right .sales-analytics .item:hover {
  box-shadow: none;
}
.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
}
.right .sales-analytics .item.office .icon {
  background: var(--color-danger);
}
.right .sales-analytics .item.customers .icon {
  background-color: var(--color-success);
}
.right .sales-analytics .add-product {
  background: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.right .sales-analytics .add-product h3 {
  font-weight: 600;
}
